<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/test.css">
</head>
<body>
    <div id="container">
        <div id="inputDiv">
            <label>
                <input id="input" type="text" placeholder="input live stream link">
            </label>
        </div>
    </div>
    <script src="./js/jquery/3ca220de1df80931eef33a8d84c35557.js"></script>
    <script src="./js/ajax/ajax.js"></script>
    <script src="./js/all/codec.js"></script>
    <script src="./js/index/index.js"></script>
</body>
</html>